<!-- <form method="POST">
    {% csrf_token %}
    {{form}}
    <button type='submit'>Submit</button>
</form>

{% for todo in tasks %}
<p>{{todo.task}}</p>
<a href="{%url 'updateItem' todo.id%}"><button>Update</button></a>
<a href="{%url 'deleteItem' todo.id%}"><button>Delete</button></a>
{% endfor %} -->


<!-- <form method="POST">
    {% csrf_token %}
    {{form}}
    <button type = 'submit'>Submit</button>
</form>
{% for todo in tasks %}
<p>{{todo.task}}</p>
<a href = "{% url 'updateItem' todo.id %}"><button>Update</button></a>
<a href = "{% url 'deleteItem' todo.id %}"><button>Delete</button></a>
{% endfor %} -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = "{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id = 'container'>
        <h1 style='font-weight: bold;'>Todo App</h1>
        <div id = 'formContainer'>
            <form method="POST">
                {% csrf_token %}
                {{form.task}}
                <button id = 'add' type = 'submit'><i class="fas fa-plus"></i> Add</button>
            </form>
        </div>
        <div id = 'todoItems'>
            {% for todo in tasks %}
                <div class = 'item'>
                    <p>{{todo.task}}</p>
                    <div class = 'controls'>
                        <a href = "{% url 'updateItem' todo.id %}"><button class = 'edit'><i class="fas fa-edit"></i>Edit</button></a>
                        <a href = "{% url 'deleteItem' todo.id %}"><button class = 'delete'><i class="fas fa-trash-alt"></i>Delete</button></a>
                    </div>
                </div>
            {% endfor %}            
        </div>

    </div>
</body>
</html>